@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;

    /* Dont forget to add static font files as a fallback for Safari */
    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Thin.ttf')
          format('truetype');
      font-weight: 100;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-ExtraLight.ttf')
          format('truetype');
      font-weight: 200;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Light.ttf')
          format('truetype');
      font-weight: 300;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Regular.ttf')
          format('truetype');
      font-weight: 400;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Medium.ttf')
          format('truetype');
      font-weight: 500;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-SemiBold.ttf')
          format('truetype');
      font-weight: 600;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Bold.ttf')
          format('truetype');
      font-weight: 700;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-ExtraBold.ttf')
          format('truetype');
      font-weight: 800;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Black.ttf')
          format('truetype');
      font-weight: 900;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-ThinItalic.ttf')
          format('truetype');
      font-weight: 100;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-ExtraLightItalic.ttf')
          format('truetype');
      font-weight: 200;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-LightItalic.ttf')
          format('truetype');
      font-weight: 300;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-Italic.ttf')
          format('truetype');
      font-weight: 400;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-MediumItalic.ttf')
          format('truetype');
      font-weight: 500;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-SemiBoldItalic.ttf')
          format('truetype');
      font-weight: 600;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-BoldItalic.ttf')
          format('truetype');
      font-weight: 700;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf')
          format('truetype');
      font-weight: 800;
      font-style: italic;
    }

    @font-face {
      font-family: Raleway;
      font-display: swap;
      src:
        url('../../public/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf')
          format('truetype'),
        url('../../public/assets/fonts/Raleway/static/Raleway-BlackItalic.ttf')
          format('truetype');
      font-weight: 900;
      font-style: italic;
    }
  }

  body {
    @apply bg-background text-foreground;
    /* Fix for Safari */
    /* https://stackoverflow.com/a/37365794 */
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
}
